/* styles for project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 8%;
  align-items: center;
  margin-bottom: 20px;
}

header > h2 {
  color: rgb(36, 36, 36);
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li > a {
  color: rgb(65, 65, 65);
  text-decoration: none;
  font-size: 20px;
}

main {
  height: 85vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.main-form {
  height: 100%;
  margin: auto;
  text-align: center;
  flex-direction: column;
}

.inputs {
  margin: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.add-book {
  padding: 10px 50px;
  background-color: rgb(175, 174, 174);
  border-radius: 10px;
  border: none;
}

input {
  height: 60px;
  width: 70%;
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px gray solid;
}

.display-books {
  width: 70%;
  margin: auto;
  border: 3px black solid;

  /* padding: 30px 20px; */
  display: flex;
  flex-direction: column;
}

.my-book-division {
  display: flex;
}

.flex-division-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.align-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.align-items:nth-child(odd) {
  background-color: rgb(175, 174, 174);
}

.align-items:nth-child(odd) button {
  background-color: white;
}

.contact-section,
.main-form {
  display: none;
}

.active {
  display: flex;
}

.hide {
  display: none;
}

.remove-book {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(175, 174, 174);
}

.contact-section {
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 0 50px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

footer {
  background-color: rgba(0, 0, 0, 0.829);
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #fff;
}
